In [2]:
from datetime import datetime

In [6]:
now = datetime.now()
print now

2016-05-09 14:13:03.681797

In [11]:
from dateutil.parser import parse

In [12]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [16]:
import pandas as pd
import numpy as np

In [18]:
dates = [datetime(2011,1,2),datetime(2011,1,5),datetime(2011,1,7),\
         datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]
ts = pd.Series(np.random.randn(6),index=dates)

In [19]:
ts

2011-01-02   -1.369130
2011-01-05   -0.403549
2011-01-07    0.661764
2011-01-08    0.351993
2011-01-10   -0.512794
2011-01-12   -0.350168
dtype: float64

In [24]:
ts.resample('D')

2011-01-02   -1.369130
2011-01-03         NaN
2011-01-04         NaN
2011-01-05   -0.403549
2011-01-06         NaN
2011-01-07    0.661764
2011-01-08    0.351993
2011-01-09         NaN
2011-01-10   -0.512794
2011-01-11         NaN
2011-01-12   -0.350168
Freq: D, dtype: float64

In [27]:
ts.resample('D',fill_method='ffill')

2011-01-02   -1.369130
2011-01-03   -1.369130
2011-01-04   -1.369130
2011-01-05   -0.403549
2011-01-06   -0.403549
2011-01-07    0.661764
2011-01-08    0.351993
2011-01-09    0.351993
2011-01-10   -0.512794
2011-01-11   -0.512794
2011-01-12   -0.350168
Freq: D, dtype: float64

In [23]:
long_ts = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000',periods=1000))

long_ts.head()

2000-01-01   -0.001316
2000-01-02    0.468554
2000-01-03    1.194253
2000-01-04    0.533773
2000-01-05   -0.445561
Freq: D, dtype: float64

In [30]:
long_ts.resample('M',how='sum').head()

2000-01-31   -2.188269
2000-02-29   -6.092854
2000-03-31   -3.999866
2000-04-30    1.921928
2000-05-31    0.282513
Freq: M, dtype: float64